.dropdown{
    position:absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1b1b1b;
    width: 125px;
    line-height: 40px;
    padding: 4px 25px;
    border-radius: 10px;
    user-select: none;
}

.dropdown label{
    color:white;
    font-size:22px;
    display: block;
    cursor: pointer;
    
}

.dropdown label:hover{
    color:bisque;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.button span{
    float:right;
    position:absolute;
    left:85%;
    top:18px;


}

.dropdown .menu:before{
    position:absolute;
    content: '';
    height: 15px;
    width: 15px;
    background:#1b1b1b;
    right: 11px;
    top: -4px;
    transform: rotate(45deg);
    z-index: -1;
}

.dropdown li{
    color:white;
    line-height: 40px;
    padding: 5px 20px;
    cursor: pointer;
}

.dropdown ul li label{
    font-size: 25px;
}

.dropdown ul{
    position:absolute;
    background: #1b1b1b;
    list-style: none;
    padding-inline-start: 10;
    padding-left: 0px;
    width: 100%;
    left: 0;
    border-radius: 10px;
    display: none;
}

[id^=btn]:checked + ul{
    display:block;
}

.dropdown ul li {
    color:white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: left;
}

.dropdown ul ul{
    position: static;
}

.dropdown ul ul li{
    line-height: 20px;
    padding-left: 15px;
    border-bottom: none;
}

.dropdown ul li span{
    float:right;
    position:absolute;
    left:85%;
    margin-top: 12px;
}

.dropdown ul li:hover{
    color:cyan;
}

.dropdown input{
    display: none;
}